* {
    cursor: cell;
    font-family: Lucida Sans Typewriter,Lucida Typewriter,sans-serif;
}
body {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column ;
    margin: 0%;

}
@media screen and (min-width: 770px) {

.earth {
    background-image: url("https://c.tenor.com/pwks_QPpbvoAAAAd/sky-night.gif"); /*url("https://media4.giphy.com/media/UTqVVxyukfeiUZ9EDa/giphy.gif");*/
    height: fit-content;
    background-size: cover;
    background-position: center;
    margin: 0;
}
.header h1{
    text-align:center;
    font-size: 40px;
    color: #f2f2f2;
    margin-right: 20;
}
.header p {
    text-align: center;
    color: #f2f2f2;
}
.searchbar {
    padding: 20px;
    float: right;
}

#user-search {
    border-radius: 7px
}
.button {
    color: #ffe6e6;
    background-image: linear-gradient(to bottom right, #0000ff, #3333ff, #4d4dff);
    border-radius: 7px;
}

.button:active {
    background-image: linear-gradient(to bottom right, #b30000, #ff3333, #ff8080);
}

.button:hover {
    background-image:linear-gradient(to bottom right, #b30000, #ff3333, #ff8080);
}


.error-display {
    display:none;
}
.error-DisplayLoaded{
    border-style:solid;
    border-color: black;
    border-radius: 7px;
    background-color: rgb(199, 184, 184);
    color: black;
    text-align: center;
    opacity: 0.6;
    
}
.parkDetail{
    display:none;
}
.parkLocation{
    color: rgb(63, 85, 131);    
    text-align: center;
    font-size: 30px;
    margin: 0;
}
.parkLocation h3 {
text-decoration: underline;
}
.parkLocation p {
    font-size: 20px;
}
.parkLocation h2 {
    font-size: 25px;
}
/*
.parkLocation .parkDetail .detailLoaded {
    text-align: center;
    color: rgb(150, 79, 79);*/
    
}
.parkDetailLoaded {
    text-align:center;
    display: table;
    background-color:rgb(228, 221, 212);
    background-size:cover;
    opacity: 0.8;
    color: #432323;
    border-style: hidden;
    margin: 0;
}

.address-style {
    color:red;
}
.detail{
    display:none;
}

.detailLoaded{
    text-align: center;
    padding: 15px;
    color: #403426;
    margin: 0;
    background-color: white;
   
}
.currentDayWeather {
    display:none;
}
#currentDayWeatherLoaded {
    background-color: #bbc18a;
    height: fit-content;
    background-size: cover;
    background-position: center;
    /*float: left;*/
    border-radius: 7px;
}
.forecast {
    display:none;
}

.forecastLoaded {
    background-color: #bbc18a;
    height: fit-content;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
}
th{
    font-size: 20px;
}
