body {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin:0;
    background-color: rgb(127, 140, 131, 0.7)   
}

.header h1{
    text-align:center;
    color: #AEB376;
}

.header p {
    text-align: center;
    color: #FCFDF2;
}

.earth {
    background-image: url("https://c.tenor.com/pwks_QPpbvoAAAAd/sky-night.gif"); 
    height: fit-content;
    background-size: cover;
    background-position: center;
    margin: 0;
}

body h3, p {
    margin: 2rem;
    text-align: left;
}

#weather-columns {
    display:none;
}

#park-columns{
    display:none;
}

.current-weather-display {
    border-style: solid;
    border-radius: 7px;
    background:#e5e8e6 ;
    color: black;
}
.day1-weather-display {
    border-style: solid;
    border-radius: 7px;
    background: #e5e8e6;
    color: black;
}

.day2-weather-display {
    border-style: solid;
    border-radius: 7px;
    background: #e5e8e6;
    color: black;
}

#park-address-style, #park-hours-style, #seasonal-weather-style, #entrance-fee-style {
    font-size:20px;
}

#park-name-style {
    font-size: 30px;
}
#currentWeatherTitle, #day2-date, #day1-date, #current-date {
    font-size: 20px;

}

.button {
    background-color: #e5e8e6;
}

.button:hover {
    background-color: rgb(127, 140, 131, 0.7);
}
